hr {
    width: 80%;
    margin: auto;
    border: 1px solid rgb(81, 81, 81);
}

section {
    width: 80%;
    height: auto;
    margin: auto;
    padding: 5vh;
}

.azul {
    color: blue;
}

.rojo {
    color: red;
}

#punto4 h2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#punto5 .p1 {
    color: green;
    text-decoration: underline;
}

#punto5 .p2 {
    color: red;
    font-weight: bold;
}

#punto5 .p3 {
    text-decoration: overline underline;
}

#punto5 .p4 {
    font-weight: bold;
    font-size: 30px;
}

#punto5 .p5 {
    font-weight: bold;
    color: blue;
}

#punto5 .p6 {
    font-weight: bold;
    color: red;
    text-decoration: underline;
}

#punto6 .diario1 {
    font-size: 25px;
    text-decoration: underline;
    color: yellow;
    font-weight: bold;
}

#punto6 .diario1:hover {
    color: black;
}

#punto6 .diario2 {
    font-size: 25px;
    text-decoration: underline;
    color: purple;
    font-weight: bold;
}

#punto6 .diario2:hover {
    color: chocolate;
}

#punto7 nav {
    background-color: rgb(219, 159, 169);
}

#punto7 ul {
    display: inline-flex;
}

#punto7 li {
    padding: 15px 10px;
    list-style: none;
}

#punto7 li:hover {
    background-color: blue;
}

#punto7 i {
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    color: white;
}

#punto8 table {
    background-color: yellow;
    border: 1px dotted black;
    padding: 0px;
}

#punto8 table th::first-letter {
    font-weight: bold;
}

#punto8 table th {
    color: red;
    font-style: italic;
    border: none;
}

#punto8 table td {
    padding: 0px;
    border: 1px dotted black;
}

#punto9 {

    box-sizing: border-box;
    font: 1.2em/1.2 Helvetica, aria, sans-serif;
    margin: 0 3%;

}


#punto9 h1 {
    font-size: 1.8em;
    margin: .9em 0 0 0;

}



#punto9 h2 {

    font-size: 1.5em;

    margin: 1.5em 0 0 0;

}



#punto9 img {

    max-width: 100%;

}

/*estilos recuadros imagenes*/

#punto9 figure {

    background: black;

    border-radius: 5px;

    color: white;

    margin: 0 0 25px 0;

    padding: 10px;

    text-align: center;

}



#punto9 figcaption {

    font-size: .8em;

}

/*responsive de la pagina
  
  genera cambio de fondo de color y otros estilos
  
  dependiendo de la resolucsion manejada
  
  */

@media screen and (min-width: 794px) {

    #punto9 body {

        background: rgba(0, 0, 255, .2);

        margin: 25px 6%;

    }



    #punto9 figure {

        float: left;

        width: 45%;

        margin-right: 4.5%;

    }

}



@media screen and (min-width: 1020px) {

    #punto9 body {

        background: rgba(0, 255, 0, .2);

        margin: 25px 10%;

        max-width: 1130px;

    }



    #punto9 figure {

        width: 30%;

        margin-right: 2.5%;

    }

}

#punto10 div {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: infinite;
   }
   @keyframes example {
    0% {background-color: red; left:0px;}
    50% {background-color: yellow; left:1000px;}
    100% {background-color: red; left:0px;}
   }

#punto11 {
    display: inline-block;
}